<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 p2-5" style="padding: 2.5rem!important;">

</div>

<div class="row mb-4" @fadeIn>
  <div class="col-xl-6 col-md-12 col-sm-12">

    <button class="btn btn-icon btn-3 btn-default back-button" (click)="goBack()" type="button">
      <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
      <span class="btn-inner--text">Back to search result</span>
    </button>

  </div>
</div>


<!-- Page content -->
<div class="container-fluid" style="margin-top: 1rem!important;">
  <div class="row">
    <div class="col-md-7 div-border-right">

      <div style="margin-bottom: 2rem;" class="col-12 ">
        <div class="img-div">
          <div class="auction-image" [ngStyle]="setImage(auction['images'][0])"></div>
        </div>
      </div>

      <div class="col-12" style="padding-left: 0!important;">
        <div class="flex-row galary-div">
          <div class="col-6 galary-card">
            <div class="galary-img" [ngStyle]="setImage(auction['images'][1])"></div>
          </div>

          <div class="col-6 galary-card">
            <div class="galary-img" [ngStyle]="setImage(auction['images'][2])"></div>
          </div>

        </div>
      </div>

    </div>

    <div class="col-md-5">

      <div class="display-4 mb-3 auc-name">{{auction['name']}}</div>

      <div class="profile-bio-text mb-2 font-bold  text-left facility">
        Description
      </div>

      <div class="col-12">
        <p class="gym-desc">{{auction['description']}}</p>
      </div>

      <div class="profile-bio-text mb-2 font-bold  text-left facility">
        Owner
      </div>

      <div class="col-12">
        <p class="gym-desc">{{ownerName}}</p>
      </div>

      <div>

        <div class="profile-bio-text mb-2 font-bold  text-left facility" *ngIf="type != 'end'">
          Time Left
        </div>

        <div *ngIf="type != 'end'" class="auc-time-left">{{remTime}}
          |  {{auction['enddate'] | date : 'EEEE, MMMM d, y'}}</div>

        <div class="expired-div font-bold" *ngIf="type == 'end'">
          Expired
        </div>
      </div>

      <div class="profile-bio-text mb-2 font-bold  text-left facility">
        Current bid
      </div>


      <div class="bid-price"
           *ngIf="bids.length == 0">{{auction['initialprice']['$numberDecimal'] | currency : 'LKR ' : 'code'}}</div>
      <div class="bid-price"
           *ngIf="bids.length > 0">{{bids[bids.length - 1]['bid']['$numberDecimal'] | currency : 'LKR ' : 'code'}}</div>

    </div>
  </div>

  <div class="row">

    <div class="col-12">

      <div class="app-inner-content-layout--main order-3 order-lg-2 card-box bg-secondary char-wrapper chat-outer-div">

        <perfect-scrollbar [autoPropagation]="true" class="background-white">

          <div class="chat-wrapper p-3 background-white">

            <div class="chat-item" *ngFor="let bid of bids">

              <div>
                <div class="chat-box bg-first text-white fitzky-bubble">
                  <p
                    class="chat-text">{{bid['username'] + ' just bid '}} {{bid['bid']['$numberDecimal'] | currency : 'LKR ' : 'code'}}</p>
                </div>

              </div>
            </div>

          </div>


        </perfect-scrollbar>
        <div
          class=" chat-button-outer-div app-content--inner__footer bg-white p-4 border-top padding-left-right-05 bottom-chat-background">
          <div class="display-flex margin-left-mobile">

            <input type="number" class="form-control margin-right chat-input" [(ngModel)]="bidAmount"
                   placeholder="Enter your bid amount and hit enter">

            <button style="margin-left: 20px!important; width: 13vw!important;" class="btn btn-icon btn-3 btn-success"
                    type="button" (click)="makeABid(bidAmount)">
              <span class="btn-inner--icon"><i class="ni ni-send"></i></span>

              <span class="btn-inner--text">Place a bid</span>

            </button>


          </div>

        </div>
      </div>
    </div>

  </div>

</div>
