@import "node_modules/angular-notifier/styles";

body {
  font-family: "gilroy", "arial", sans-serif !important;
}

.main-welcome {
  font-size: 40px;
  font-family: gilroy-bold !important;
}

.card-header {
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.login-title {
  font-size: 15px;
  font-family: gilroy-bold !important;
}

.p1-top {
  padding-top: 1rem !important;
}

.p1-bottom {
  padding-bottom: 1rem !important;
}

.logo-outer-div {
  text-align: center;

  img {
    height: 90px;
    border-radius: 6px;
    margin-bottom: 20px;
  }
}

.iti {
  width: 100% !important;
}

.p2-5 {
  padding: 2.5rem !important;
}

.create-auc {
  width: 100%;
  text-align: end;

  button {
    margin: 0 !important;
  }
}

.bid-card {
  position: relative;
  height: 10vw !important;
  min-height: 9.5rem;
  border-radius: 0.45rem !important;
}

.bid-img {
  cursor: pointer;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url('assets/img/mac.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  outline: -webkit-focus-ring-color auto 0 !important;

  :focus {
    outline: -webkit-focus-ring-color auto 0 !important;
  }

  :hover {
    border: none !important;
    outline: -webkit-focus-ring-color auto 0 !important;
  }
}

.text-align-left {
  text-align: left !important;
}

.white-text-dashboard {
  color: #FFFFFF !important;
  font-size: 15px !important;
  position: absolute;
  bottom: 10px;

  padding-left: 1rem;
  padding-bottom: 0.2rem
}

.bid-text-color {
  color: #2C2C2C !important;

}

.bid-text {
  color: #4B6883 !important;
  font-size: 10px;
}

.session-per-text {
  font-size: 13px;
  color: #7C7C7C !important;
  font-family: gilroy-bold !important;
}

.free-div {
  padding-left: 12px;
  padding-right: 12px;
  height: 2rem;
  background: #172B4D;
  position: absolute !important;
  top: -1px !important;
  margin: auto;
  /* left: 0; */
  right: 0;
  border-bottom-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
  margin-bottom: 0 !important;

  div {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 14px;
    height: 100%;
    margin-bottom: 0;
    align-items: center;
  }
}

.price-txt{
  color: #32325d!important;
  font-size: 17px!important;
}

.dash-title{
  color: #32325d!important;
  font-size: 20px;
  margin-bottom: 1rem;
  font-family: gilroy-extra-bold !important;
}
.mb-1rem{
  margin-bottom: 1rem!important;
}

.red-color-bac{
  background: #FF2222!important;
}

.img-div {
  width: 100%;
  border-radius: 11px;
}

.auction-image {
  width: 98%;
  height: 17rem;
  border-radius: 11px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
}

.back-button {
  color: #5F5F5F!important;
  border: none !important;
  padding: 0!important;

  margin-left: 3rem!important;
  margin-top: 1rem!important;
  background: none!important;
  box-shadow: none!important;

  .btn-wrapper--icon {
    margin-right: 10px;
  }

  :hover {
    color: #000000;
  }

  :focus {
    border: none !important;
    outline: none !important;
  }

  .btn-inner--text{
    margin-left: 0.25rem!important;
  }
}

.galary-div {
  position: relative;;
  /* height: 105%; */
  height: 20vh;
  //width: 97%;
}

.galary-card {
  padding: 1px;
  padding-right: 2%
}

.galary-img {
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  //box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15)
}

.flex-row {
  display: flex !important;
  margin-bottom: 0.6rem;
}

.div-border-right {
  border-right: solid 1px #0000001c;
}

.auc-name {
  font-family: gilroy-bold;
  font-size: 20px;
  margin-top: 1rem;
  margin-left: 10px;
  display: inline;
  color: #32325d!important;
}

.profile-bio-text {
  font-family: gilroy-bold;
  font-size: 16px;
  color: #3F3F3F;
}

.font-bold {
  font-family: gilroy-bold !important;
}

.facility {
  padding-left: 14px;
  margin-top: 1rem;
}

.gym-desc {
  font-family: gilroy-medium;
  font-size: 15px;
  color: #626262;
}

.auc-time-left{
  margin-left: 14px;
  font-size: 26px;
  color: #e3011b;
  font-family: gilroy-bold-italic !important;
}

.bid-price{
  margin-left: 14px;
  font-size: 35px;
  color: #2c2c2c!important;
  font-family: gilroy-extra-bold !important;
}

.chat-item{
  background: #172b4d;
  max-width: fit-content;
  border-bottom-right-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
  border-bottom-left-radius: 0.45rem;
  margin-bottom: 1rem;

  .chat-box{
    padding: 9px;
  }
}

.display-flex{
  display: flex!important;
}

.chat-outer-div{
  border-radius: 0.45rem;
  box-shadow: 0 0.46875rem 2.1875rem rgb(59 62 102 / 3%), 0 0.9375rem 1.40625rem rgb(59 62 102 / 3%), 0 0.25rem 0.53125rem rgb(59 62 102 / 5%), 0 0.125rem 0.1875rem rgb(59 62 102 / 3%);
  margin-top: 1rem;
  margin-left: 15px;
}

.chat-button-outer-div{
  border-bottom-left-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
}

.chat-text{
  font-size: 14px;
  font-family: Gilroy-SemiBold!important;
  margin: 0!important;
}

.expired-div{
  margin-left: 14px;
  background: #e3011b;
  width: fit-content;
  padding: 10px;
  border-radius: 0.45rem;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}



.avatar img {
  border: solid 2px white;
}

.own-auction-title{
  padding-bottom: 1rem;
  font-size: 30px;
  color: #32325d;
}

.auc-cr-div{
  margin-left: 3rem;
  padding: 2rem;
  border-radius: 0.45rem;
  box-shadow: 0 0.46875rem 2.1875rem rgb(59 62 102 / 3%), 0 0.9375rem 1.40625rem rgb(59 62 102 / 3%), 0 0.25rem 0.53125rem rgb(59 62 102 / 5%), 0 0.125rem 0.1875rem rgb(59 62 102 / 3%);
  margin-right: 3rem;
  margin-top: 1rem;
}

[type="file"] {
  /* Style the color of the message that says 'No file chosen' */
  color: #878787;
}
[type="file"]::-webkit-file-upload-button {
  background: #ED1C1B;
  border: 2px solid #ED1C1B;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 1s ease;
  margin-right: 17px;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}
