<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 p2-5" style="padding: 2.5rem!important;">

</div>

<div class="won-div" *ngFor="let win of wonAuctions">
  <div class="red-div">
    <div>You have won the {{win['name']}}, your bid was {{win['initialprice']['$numberDecimal'] | currency : 'LKR ' : 'code'}}</div>
    <button type="button" class="btn btn-default" (click)="markAsReceivedAndGiven(win['_id'],'received')">Claim</button>
  </div>

</div>


<div class="rec-div" *ngFor="let sold of soldAuctions">
  <div class="blue-div">
    <div>Did you send the item to the winner of the auction? ({{sold['name']}})</div>
    <button type="button" class="btn btn-primary" (click)="markAsReceivedAndGiven(sold['_id'],'given')" >Yes</button>
  </div>

</div>


<div class="container-fluid " style="margin-top: 2rem!important;">
  <div class="header-body">

    <div class="dash-title" *ngIf="upcoming.length > 0">Upcoming</div>
    <!-- Card stats -->
    <div class="row mb-1rem">


      <div class="col-xl-3 col-lg-6" style="padding-bottom: 1rem;" *ngFor="let upcomingAuction of upcoming">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img" [ngStyle]="getAuctionImage(upcomingAuction.images)" (click)="navigateToAuction(upcomingAuction,'upcoming')">

          <div class="free-div">
            <div>{{getRemTime(upcomingAuction['enddate'])}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            {{upcomingAuction['name']}}
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span
            class=" session-per-text price-txt">Price {{upcomingAuction['initialprice']['$numberDecimal'] | currency : 'LKR ' : 'code'}} </span>
          <br>
<!--          <span class=" session-per-text">By Chanuka Sandaruwan</span>-->

        </div>
      </div>

    </div>


    <div class="dash-title" *ngIf="ongoing.length > 0">Ongoing</div>
    <!-- Card stats -->
    <div class="row mb-1rem">

      <div class="col-xl-3 col-lg-6" style="padding-bottom: 1rem;" *ngFor="let ongoingAuction of ongoing">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img" [ngStyle]="getAuctionImage(ongoingAuction.images)" (click)="navigateToAuction(ongoingAuction,'ongoing')">

          <div class="free-div">
            <div>{{getRemTime(ongoingAuction['enddate'])}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            {{ongoingAuction['name']}}
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span
            class=" session-per-text price-txt">Price {{ongoingAuction['initialprice']['$numberDecimal'] | currency : 'LKR ' : 'code'}} </span>
          <br>
<!--          <span class=" session-per-text">By Chanuka Sandaruwan</span>-->

        </div>
      </div>

    </div>


    <div class="dash-title mb-1rem" *ngIf="end.length > 0">End</div>
    <!-- Card stats -->
    <div class="row">

      <div class="col-xl-3 col-lg-6"  style="padding-bottom: 1rem;" *ngFor="let endAuction of end">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img" [ngStyle]="getAuctionImage(endAuction.images)" (click)="navigateToAuction(endAuction,'end')">

          <div class="free-div red-color-bac">
            <div>Expired</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            {{endAuction['name']}}
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span
            class=" session-per-text price-txt">Price {{endAuction['initialprice']['$numberDecimal'] | currency : 'LKR ' : 'code'}} </span>
          <br>
<!--          <span class=" session-per-text">By Chanuka Sandaruwan</span>-->

        </div>
      </div>

    </div>

  </div>
</div>

