<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 p2-5" style="padding: 2.5rem!important;">

</div>

<div class="container-fluid " style="margin-top: 2rem!important;">
  <div class="header-body">

    <div class="dash-title">Upcoming</div>
    <!-- Card stats -->
    <div class="row mb-1rem">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div">
            <div>{{getRemTime('2023-01-17T15:39:09Z')}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div">
            <div>{{getRemTime('2023-01-17T15:39:09Z')}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div">
            <div>{{getRemTime('2023-01-17T15:39:09Z')}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div">
            <div>{{getRemTime('2023-01-17T15:39:09Z')}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>


    </div>


    <div class="dash-title">Ongoing</div>
    <!-- Card stats -->
    <div class="row mb-1rem">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div">
            <div>{{getRemTime('2023-01-17T15:39:09Z')}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div">
            <div>{{getRemTime('2023-01-17T15:39:09Z')}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div">
            <div>{{getRemTime('2023-01-17T15:39:09Z')}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div">
            <div>{{getRemTime('2023-01-17T15:39:09Z')}}</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>


    </div>


    <div class="dash-title mb-1rem">End</div>
    <!-- Card stats -->
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div red-color-bac">
            <div>Expired</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div red-color-bac">
            <div>Expired</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div red-color-bac">
            <div>Expired</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0 bid-card bid-img">

          <div class="free-div red-color-bac">
            <div>Expired</div>
          </div>

          <div class="pt-3 text-align-left white-text-dashboard">
            Mac book pro 2017
          </div>

        </div>

        <div class="pt-1 text-align-left bid-text-color bid-text">
          <span class=" session-per-text price-txt">Price {{10000 | currency : 'LKR ' : 'code'}} </span> <br>
          <span class=" session-per-text">By Chanuka Sandaruwan</span>

        </div>
      </div>

    </div>

  </div>
</div>

